################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/slnModenFactory/.vs
/slnModenFactory/ModelFactory.ServicesApi/bin/Debug/
/slnModenFactory/ModelFactory.ServicesApi/obj/
/slnModenFactory/obj/*.*
/slnModenFactory/obj/Docker
